.jumbotron {
  text-align: center;
  background-color: #8533ff;
  color: #fff;
  padding: 100px 25px;
}

.container-fluid {
  padding: 60px 50px;
}

.logo {
  color: #8533ff;
  font-size: 200px;
}

/*
  media queries to center logo column on
  screens smaller than 768 pixel wide
  */
@media screen and (max-width: 768px) {
  .col-sm-4 {
    text-align: center;
    margin: 25px 0;
  }
}
